#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.between-spaced {
  display: flex;
  justify-content: space-between;
}

.even-spaced {
  display: flex;
  justify-content: space-evenly;
}

.form-input-1 {
  border: 3px solid #7979e2;
}

.form-input-2 {
  border: 3px solid #e44552;
  border-radius: 10px;
}
